<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface d'Analyse Cartographique</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<header>
    
    <h1>Interface d'Analyse Cartographique</h1>
</header>

<main>
    <div class="container">
        <!-- Section pour l'analyse d'un export à une date donnée -->
        <section class="section">
            <h2>Analyse d'un Export à une Date Donnée</h2>
            <form id="single-export-form" method="POST" enctype="multipart/form-data">
                <div class="file-input-container">
                    <input type="file" id="file-input-single" webkitdirectory directory multiple>
                    <label for="file-input-single">Sélectionner un dossier (Export)</label>
                    <div id="selected-file-single" class="selected-file">Aucun dossier sélectionné</div>
                    <ul id="file-list-single" class="file-list"></ul>
                </div>
                <div class="date-selector">
                    <label for="export-date-single">Date de l'Export:</label>
                    <input type="month" id="export-date-single" name="export-date-single">
                </div>
                
                <button type="button" id="upload-btn-single">Importer</button>
                <span id="loading-indicator-single" style="display: none;">Chargement en cours...</span>
                    
            </form>
               <!-- Nouveaux boutons ajoutés -->
               <div class="menu">
                <form action="/arborescence_livrable" method="POST">
                    <!-- Réutiliser le champ export-date-single -->
                    <input type="hidden" id="hidden-export-date" name="export_date">
                    <button type="submit">Arborescence Livrable</button>
                </form>

                <button id="presence-champ-csv">Présence Champ CSV</button>
                <form action="/presence_champ_csv" method="POST">
                    <input type="hidden" id="hidden-export-date-csv" name="export_date">
                </form>

                
            </div>
            <div class="menu">

                <div class="button-container">
                    <form action="/analyze_bpe" method="POST">
                        <input type="hidden" id="hidden-export-date" name="export_date">
                        <button type="submit" id="analyze-bpe">Analyser BPE</button>
                    </form>
                
                    <form action="/analyze_cable" method="POST">
                        <input type="hidden" id="hidden-export-date-cable" name="export_date">
                        <button type="submit" id="analyze-cable">Analyser Cable</button>
                    </form>
                
                    <form action="/analyze_chambre" method="POST">
                        <input type="hidden" id="hidden-export-date-chambre" name="export_date">
                        <button type="submit" id="analyze-chambre">Analyser Chambre</button>
                    </form>
                
                    <form id="form-analyze-fourreaux">
                        <input type="hidden" id="hidden-export-date-fourreaux" name="export_date">
                        <button type="button" id="analyze-fourreaux">Analyser Fourreau</button>
                    </form>
                </div>
                
            
            <div id="results-single" class="result-container">
                <h3>Résultats de l'Analyse</h3>
                <div id="table-results-single"></div>
                <a id="download-results-single" class="btn-download" href="#">Télécharger les Résultats</a>
            </div>
        </section>
       
        <section class="section">
            <h2>Importer et Analyser Deux Exports</h2>
            <form id="comparison-import-form" method="POST" enctype="multipart/form-data">
                <div class="file-input-container">
                    <h3>Ancien Export</h3>
                    <input type="file" id="file-input-old" webkitdirectory directory multiple>
                    <label for="file-input-old">Sélectionner un dossier (Ancien Export)</label>
                    <div id="selected-file-old" class="selected-file">Aucun dossier sélectionné</div>
                    <ul id="file-list-old" class="file-list"></ul>
                    <label for="export-date-old">Date de l'Export:</label>
                    <input type="month" id="export-date-old" name="export-date-old">
                </div>
        
                <div class="file-input-container">
                    <h3>Nouveau Export</h3>
                    <input type="file" id="file-input-new" webkitdirectory directory multiple>
                    <label for="file-input-new">Sélectionner un dossier (Nouveau Export)</label>
                    <div id="selected-file-new" class="selected-file">Aucun dossier sélectionné</div>
                    <ul id="file-list-new" class="file-list"></ul>
                    <label for="export-date-new">Date de l'Export:</label>
                    <input type="month" id="export-date-new" name="export-date-new">
                </div>
        
                <button type="button" id="upload-btn-different-version">Importer les Deux Exports</button>
                <span id="loading-indicator-different-version" style="display: none;">Chargement en cours...</span>
            </form>
        
            <!-- Ajout des boutons pour comparer -->
            <div class="export-analysis-buttons">
                <h2>Comparer les Exports</h2>
                <div class="button-container">
                    <form action="/compare_ebp" method="POST"></form>
                        <input type="hidden" id="hidden-comparison-date-bpe-old" name="old_date">
                        <input type="hidden" id="hidden-comparison-date-bpe-new" name="new_date">
                        <button type="button" id="compare-ebp-btn" class="btn-export-analysis">Comparer EBP</button>
                    </form>
                    
        
                    <form action="/compare_cable" method="POST">
                        <input type="hidden" id="hidden-comparison-date-cable-old" name="old_date">
                        <input type="hidden" id="hidden-comparison-date-cable-new" name="new_date">
                        <button type="button" id="compare-cable-btn" class="btn-export-analysis">Comparer Cable</button>
                    </form>
                    
        
                    <form action="/compare_PointTechnique" method="POST">
                        <input type="hidden" id="hidden-comparison-date-PointTechnique-old" name="old_date">
                        <input type="hidden" id="hidden-comparison-date-PointTechnique-new" name="new_date">
                        <button type="button" id="compare-PointTechnique-btn" class="btn-export-analysis">Comparer Point Technique</button>
                    </form>
                    
        
                    <form action="/compare_cheminement">
                        <input type="hidden" id="hidden-comparison-date-cheminement-old" name="old_date">
                        <input type="hidden" id="hidden-comparison-date-cheminement-new" name="new_date">
                        <button type="button" id="compare-cheminement-btn" class="btn-export-analysis">Comparer Cheminement</button>
                    </form>

                    <form action="/compare_site_technique" method="POST">
                        <input type="hidden" id="hidden-comparison-date-site-technique-old" name="old_date">
                        <input type="hidden" id="hidden-comparison-date-site-technique-new" name="new_date">
                        <button type="button" id="compare-site-technique-btn" class="btn-export-analysis">Comparer Site Technique</button>
                    </form>
                    
                    
                </div>
            </div>


        
            <div id="results-comparison" class="result-container">
                <h3>Résultats de la Comparaison</h3>
                <div id="table-results-comparison"></div>
                <a id="download-results-comparison" class="btn-download" href="#">Télécharger les Résultats</a>
            </div>
        </section>
        
                
  
    </div>
</main>

<script src="static/js/script.js"></script>

</body>
</html>
